@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.simulation-name {
    margin-left: 20px;
    padding-top: 20px;
    color: white;
}

.made-by {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-top: 10px;
}

.lesha,
.yarik {
    color: white;
}

.pictures {
    display: flex;
    max-width: 90%;
    margin: 40px auto auto;
}

.static-picture,
.result-picture,
#screen,
#static {
    height:  500px;
    max-width:  500px;
}

.form {
    margin: 40px auto auto;
    display: grid;
    justify-content: center;
    grid-gap: 20px;
}

.mok-grid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 10px;
}