@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}

.main {
    padding-bottom: 100px;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #121c29;
}

.simulation-name {
    margin-left: 20px;
    padding-top: 20px;
    color: white;
}

.made-by {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-top: 10px;
}

.lesha,
.yarik {
    color: white;
}

.pictures {
    display: flex;
    max-width: 78.125%;
    margin: 40px auto auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.static-picture,
.result-picture,
#screen,
#static {
    height:  300px;
    width:  100%;
}

.form {
    margin: 40px auto auto;
    display: grid;
    justify-content: center;
    grid-gap: 20px;
}

.mok-grid {
    display: grid;
    grid-template-columns: 300px 300px 100px;
    grid-column-gap: 10px;
}

.value-label,
.prop-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset {
    border-radius: 5px;
    background-color: white;
    outline: none;
}

#reset:hover {
    background-color: grey;
}

.footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: grey;
    height: 80px;
    width: 100%;
}

.logos {
    display: flex;
    align-items: center;
}

.git-link {
    text-decoration: none;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 5px 0 5px;
}

.logo:hover {
    box-shadow: 0 0 2px 1px grey;
}