@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.simulation-name {
    margin-left: 20px;
    padding-top: 20px;
    color: white;
}

.made-by {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-top: 10px;
}

.lesha,
.yarik {
    color: white;
}

.pictures {
    display: flex;

}